<h2>Products</h2>
<div class="row">
  <div class="col col-md-4" *ngFor="let p of products">
      <div class="product-list-item">
          <h4>{{p.name}}</h4>
          <p class="company">
            <span>Company : </span>
            {{p.company}}
          </p>
          <p>
            <img [src]="p.imgUrl" class="img-fluid responsive-img" [alt]="p.name">
          </p>
          <p class="price">
              <span>Price : </span>
              {{p.price}}
          </p>
          <button class="btn btn-success">Add to Cart</button>
          <a [routerLink]="['/catalog/product', p.id]">View Details</a>
        </div>
  </div>
  
</div>
